:root {
  --h-header: 3rem;
  --c-white: white;
  --c-black: black;
  --c-academlo: hsl(354, 78%, 60%);
  --c-beige: antiquewhite;
  --c-darkgray: darkslategray;
  --c-lightgray: #f3f3f3;
  --shadow-general: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  display: block;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
}

body {
  padding: 0;
  background-color: var(--c-beige);
}

header {
  height: var(--h-header);
  background-color: transparent;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color .5s ease-in-out, padding 0.5s ease-in-out;
}

.header_show{
  background-color: var(--c-beige);
  height: calc(var(--h-header) + 1rem);
  box-shadow: var(--shadow-general);
}

.header:hover{
  background-color: var(--c-academlo);
}

.nav_principal { 
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav_logo {
  display: flex;
  align-items: center;
}

.nav_logo svg {
  width: 40px;
  cursor: pointer;
  fill: var(--c-academlo);
}

.nav_logo span {
  justify-content: right;
  font-weight: 500;
  cursor: pointer;
}

.mobile_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: fixed;
  left: 100%;
  top: 0;
  height: 100%;
  background-color: var(--c-white);
}

.mobile_menu-show {
  left: 0;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: var(--c-black);
}

ul {
  list-style: none;
}

.iconSets {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

.bx-cart-add {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  color: var(--c-black);
}

.amountProducts {
  width: 20px;
  height: 20px;
  font-size: 0.5rem;
  background-color: var(--c-black);
  color: var(--c-beige);
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.firstSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div {
  display: block;
}

.fsectionImg {
  background-color: var(--c-academlo);
  display: flex;
  align-items: center;
  min-height: 400px;
}

.bodySection {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 1rem;
}

.body_section-title {
  color: var(--c-black);
  font-size: 2rem;
}

.body_section-paragraph {
  color: var(--c-darkgray);
}

.body_section-price {
  color: var(--c-academlo);
  font-weight: 700;
  font-size: 1.5rem;
}

.body_section-btn {
  background-color: var(--c-black);
  color: var(--c-white);
  font-weight: 500;
  letter-spacing: 1px;
  padding: 15px 30px;
  place-self: baseline;
}

.products_items {
  padding: 5rem 1rem;
  display: grid;
  gap: 3rem;
}

.filter_products {
  margin: auto;
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  cursor: pointer;
  color: var(--c-black);
}

.filter {
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
  transition: background-color 0.5s;
  box-sizing: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.filter-active,
.filter:hover {
  background-color: var(--c-black);
  color: var(--c-white);
}

.content_products {
  padding: 5rem 1rem;
  display: grid;
  gap: 3rem;
}

.products {
  overflow: hidden;
  display: grid;
  gap: 2rem;
  padding: 0 2rem;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.product {
  border-radius: 1rem;
  box-shadow: var(--shadow-general);
  background-color: var(--c-white);
}

.product-title {
  cursor: pointer;
}

.product-title p {
  color: var(--c-darkgray);
}

.product_img {
  padding: 1rem;
  background-color: var(--c-lightgray);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.product__img img {
  transition: transform 0.5s;
}

.product:hover img {
  transform: translateY(-10px);
}

.product_info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product_info h4 {
  min-height: 54px;
  color: var(--c-black);
}

.product_info h3{
  color: var(--c-black);
}

.product_info span {
  font-weight: normal;
  font-size: 0.8rem;
}

.product_info .soldOut {
  color: var(--c-white);
  background-color: var(--c-academlo);
  display: inline block;
  padding: 1rem 1rem;
  border-radius: 5px;
  user-select: none;
}

.modal_info .bx-plus,
.product_info .bx-plus {
  background-color: cadetblue;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--c-beige);
  font-size: 1.3rem;
  cursor: pointer;
}

.bx-plus:hover {
  background-color: var(--c-beige);
  color: cadetblue;
}

.cart {
  /* height: calc(100vh - var(--h-header)); */
  /* top: var(--h-header); */
  height: 100%;
  width: 100%;
  background-color: var(--c-white);
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: left 0.3s;
}

.cart_show {
  right: 0;
}

.close_cart,
.close_modal {
  text-align: end;
  cursor: pointer;
  width: 30px;
  color: var(--c-black);
}

.cart_products {
  background-color: var(--c-white);
  height: 85%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 3000;
}

.cart_product {
  box-shadow: var(--shadow-general);
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

.cart_product--img {
  width: 40%;
  background-color: var(--c-lightgray);
  border-radius: 1rem;
}

.cart_product--body {
  width: 60%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.cart_product--body-op {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart_product--body-op i {
  cursor: pointer;
}

.cart_product--body-op .bxs-trash {
  color: var(--c-academlo);
}

.cart_total {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.cart_total--info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--c-black);
}

.btn_buy {
  padding: 0.5rem;
  width: 100%;
  background-color: var(--c-black);
  color: var(--c-white);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

footer {
  background-color: var(--c-beige);
  padding: 5rem 2rem;
}

.footer_dad {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 2rem;
  background-color: var(--c-beige);
}

.footer_information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul li {
  list-style: none;
  margin: 8px 0;
}

.footer_information .info_social {
  display: flex;
  flex-direction: row;
}

.footer_information .info_social i {
  font-size: 1.5rem;
}

.footer_information ul a {
  color: var(--c-darkgray);
}

.info_title{
  color: var(--c-black);
}

.footer_style {
  background-color: var(--c-academlo);
  color: var(--c-white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: #00000090;
}

.modal_show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_container {
  background-color: var(--c-white);
  padding: 1rem;
  border-radius: 16px;
  max-width: 400px;
  position: relative;
}

.modal_container .bx-x-circle {
  color: var(--c-black);
  font-size: 2rem;
  cursor: pointer;
}

.modal_container_name {
  color: var(--c-black);
}

.modal_container_description {
  font-size: 0.9rem;
  color: var(--c-darkgray);
  gap: 1rem;
  border-top: 100px;
}

.modal_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.modal_container_price {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--c-black);
}

.modal_container_stock {
  color: var(--c-darkgray);
}

.plus_modal {
  border-radius: 50%;
  color: var(--c-white);
}

::-webkit-scrollbar {
  width: thin;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-academlo);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: var(--c-beige);
}

.bx-moon{
  color: var(--c-black);
}

.bx-menu-alt-left{
  color: var(--c-black);
}

@media (min-width: 700px) {
  .bx-menu-alt-left {
    display: none;
  }

  .mobile_menu {
    justify-content: flex-start;
    flex-direction: row;
    position: static;
    background-color: transparent;
    gap: 1rem;
    width: auto;
    height: auto;
  }

  .iconSets {
    display: flex;
  }

  .cart {
    width: 400px;
  }

  .filter_products {
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }

  .footer_dad {
    flex-direction: row;
    justify-content: space-between;
  }

  .mobile_menu :hover {
    background-color: var(--c-academlo);
    color: var(--c-black);
  }

  .mobile_menu a {
    color: var(--c-academlo);
  }

  .totalSection {
    flex-direction: row-reverse;
    min-height: 80vh;
  }

  .firstSection {
    grid-template-columns: 1fr;
  }

  .body_section-title {
    font-size: 2.2rem;
  }

  .bodySection {
    justify-content: center;
  }
}

.dark-mode{
  --c-white: rgb(11, 11, 11);
  --c-black: rgb(235, 224, 224);
  --c-academlo: hsl(182, 53%, 74%);
  --c-beige: hsl(249, 19%, 14%);
  --c-darkgray: rgb(106, 107, 112);
  --c-lightgray: #f3f3f3;
  --shadow-general: 0 0.5rem 1rem rgba(255, 255, 255, 0.639);
}